.backgruond {
  z-index: -1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(255 224 163);
  width: 100vw;
  height: 100vh;
}

.backgruond_img {
  width: 80vw;
}

.intro_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6vw 0 4vw 0;
  overflow: hidden;
  background-color: coral;
}

.intro_card_img {
  max-width: 80vw;
  height: auto;
}

.intro_card_shrimp {
  position: absolute;
  height: auto;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #224694;
  color: white;
}

.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8vh 0 4vh 0;
  flex-grow: 1;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.contact_item {
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #224694;
  color: white;
  transition: 0.3s;
}

.contact_item:hover {
  box-shadow: -3px 5px 0 0 #3F6ED1;
  transform: translate(3px, -5px);
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.page_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 6vw 0;
}

.page_item, .history_item {
  position: relative;
  padding: 1rem;
  background-color: coral;
  color: white;
  box-shadow: -3px 5px 0 0 rgb(180, 80, 43);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.page_item {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page_header {
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  padding: 1rem;
}

.page_item:hover, .page_item:has(*:focus) {
  box-shadow: -6px 10px 0 0 rgb(180, 80, 43);
  translate: 3px -5px;
}

.map_container {
  width: 100%;
  height: 80vh;
}

.history_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 768px) {
  .history_container {
    flex-direction: column;
  }
}

.history_item {
  width: calc(100% - 1rem);
  flex-grow: 1;
  aspect-ratio: 9/16;
  max-height: 80vh;
  padding: 1rem;
  overflow: hidden;
}

.history_item > * {
  width: calc(100% - 2rem);
}

.history_title {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.history_img {
  height: 100%;
  object-fit: cover;
}

.history_description {
  position: absolute;
  top: calc(100% - 1rem);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  color: rgba(255, 255, 255, 0);
}

.history_item:hover > .history_description {
  transform: translate(-50%, -100%);
  color: rgba(255, 255, 255, 1);
}

.ref_anchor {
  position: absolute;
  top: -5rem;
}
